﻿@{
    ViewData["Title"] = "About";
}
<body>
    <h1 id="header">Our SAMO Cloud</h1>
    <div id="tran"></div>
    <h1>   </h1>
    <div id="mul">
        Our product "SAMO Cloud" is the best in the market
        It is for those who want to get a server easy and fast
        We welcome you to use our cloud and enjoy the exprience
    </div>
    <br />
    <br />

    <div id="video" text-align="center">
        <video width="400" height="300" controls style="display:block; margin: 0 auto;" autoplay>
            <source src="~/videos/DCVideo.mp4" type="video/mp4">
        </video>
    </div>
</body>