﻿@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="/css/tweets.css">

@if ((bool)ViewData["isAdmin"] == true)
{

<div>
    <h2> Hello admin!</h2>
    <br />

    <table style="width:60%">
        <tr>
            <td>
                <a class="adminoption" class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">Manage application Users</a>
            </td>
            <td>
                <a class="adminoption" class="nav-link text-dark" asp-area="" asp-controller="DataCenters" asp-action="Index">Manage Data Centers</a>
            </td>
            <td>
                <a class="adminoption" class="nav-link text-dark" asp-area="" asp-controller="AdminStatistics" asp-action="Index">View system statistics</a>
            </td>
        </tr>
    </table>
    </div>

}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/first.jpg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Start Building on SAMO Cloud Today!
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/second.jpg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Explore Our Products
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/third.jpg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Powering Customer Innovation
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>

</div>

<div>
    <img id="twitter" src="~/images/twitter.png" hidden />
    <p align="center">
        <canvas id="tweeterlogo" width="128" height="128"></canvas>
    </p>

</div>
<h4 style="text-align:center;">Linux related Tweets:</h4>
<aside id="tweetArea"></aside>
@section Scripts {
    <script src="~/js/tweetsIntegration.js"></script>
}