﻿@model IEnumerable<Samo.Models.DataCenter>

@{
    ViewData["Title"] = "Index";
}

<h1 id="header">Data Centers</h1>
<div id="tran"></div>


<p style="margin-top:30px">
    <a asp-action="Create" class="startorder">Create new DC</a>
</p>

<div align="center">
    <form asp-action="Index" method="get">
        <div align="center" class="form-actions no-color">
            <p>
                <div id="FilterTilte">
                    Find by <br />
                </div>
                <br />
                <div display="flex">
                    Country: <input type="text" name="countryFilter" value="@ViewData["countryFilter"]" />
                    Name: <input type="text" name="nameFilter" value="@ViewData["nameFilter"]" />
                </div>
                <br />
                <input type="submit" value="Search" class="btn btn-default" /> |
                <a asp-action="Index">Back to Full List</a>
            </p>
        </div>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Country)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
