@model Samo.Models.Server

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Server</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CPU)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CPU)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RAM)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RAM)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataCenter)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataCenter.ID)
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
