@model Samo.Models.Server

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Server</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CPU)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CPU)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RAM)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RAM)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataCenter)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataCenter.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataCenter.Country)
        </dt>
         <dd id="serverCountry">
            @Html.DisplayFor(model => model.DataCenter.Country.Name)
        </dd>
    </dl>
</div>
<div>
    <div style="text-align: center;">
        <h4>Server Physcal Location:</h4>
        <div id="map" style="width:800px; height:500px ; margin: auto;"></div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/js/serverMap.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVz3wvnqQVuJMgYImHhxK7VrQzq9J118o&callback=Init"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
}
